<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>25699565586-q5no05jdm3jpiodut3kolld4f7vpbatt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.25699565586-q5no05jdm3jpiodut3kolld4f7vpbatt</string>
	<key>API_KEY</key>
	<string>AIzaSyDKBE-jX1N5goYKtwrVhiiHiNvZapBk8PE</string>
	<key>GCM_SENDER_ID</key>
	<string>25699565586</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>we.webapp.attendance</string>
	<key>PROJECT_ID</key>
	<string>my-project-1516292004072</string>
	<key>STORAGE_BUCKET</key>
	<string>my-project-1516292004072.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:25699565586:ios:78f803f6bc8a25be</string>
	<key>DATABASE_URL</key>
	<string>https://my-project-1516292004072.firebaseio.com</string>
</dict>
</plist>