app-elearning-schools:host {
    h2{
        font-weight: 600 !important;
    }
}
   .county{
        position: fixed;
    z-index: 10;
    width: 100%;
    ion-item{
        width: 100%;
    --background: #f8f8f8;
        font-size: 17px;
    }
}
.body{
    margin-top: 60px;
}