<ion-header mode="md">
  <ion-toolbar>
  	<ion-buttons slot="end">
  		<ion-back-button>
  		</ion-back-button>
  	</ion-buttons>

  	<ion-buttons slot="start">
  		<ion-menu-button>
  		</ion-menu-button>
  	</ion-buttons>
    <ion-title>{{'forgot_pass.title' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content mode="md">

	<div class="email common" *ngIf="enterEmai">
		<ion-row class="row">
			<div class="outer-div">
			<ion-icon class="checked" *ngIf="step>0" name="checkmark-circle-outline"></ion-icon>
				<div class="inner-div">
					<span>{{'forgot_pass.email_heading' | translate}}</span> <br>
					{{'forgot_pass.email_mssg' | translate}}
				</div>
				<ion-item class="item">
					<ion-input type="email" [(ngModel)]="email" placeholder="{{'forgot_pass.email' | translate}}" [readonly]="!canEditEmail"></ion-input>
				</ion-item>
				<span class="error" *ngIf="emailError !=''">{{emailError}}</span>
				<ion-button [disabled]="!canEditEmail" expand="block" class="btn-primary" shape="round" color="primary" (click)="submitEmail()">{{'forgot_pass.submit' | translate}}</ion-button>
				<ion-button *ngIf="!canEditEmail" expand="block" class="btn-primary" shape="round" color="secondary" (click)="submitEmail()">{{'forgot_pass.resent' | translate}}</ion-button>
			</div>
		</ion-row>
		
		<ion-row class="row" *ngIf="enterOtp">
			<div class="outer-div">
				<ion-icon class="checked" *ngIf="step>1" name="checkmark-circle-outline"></ion-icon>
				<div class="inner-div">
					<span>{{'forgot_pass.otp' | translate}}</span><br>
					{{'forgot_pass.otp_request' | translate}}
				</div>
				<ion-item>
					<ion-input type="number" [(ngModel)]="otp" placeholder="{{'forgot_pass.otp_heading' | translate}}" [readonly]="!canEditOTP" ></ion-input>
				</ion-item>
				<span class="error" *ngIf="otpError !=''">{{otpError}}</span>
				<ion-button  expand="block" class="btn-primary" shape="round" color="primary" (click)="submitOtp()" [disabled]="!canEditOTP">{{'forgot_pass.submit' | translate}}</ion-button>
			</div>
		</ion-row>

		<ion-row class="row" *ngIf="enterPassword">
			<div class="outer-div" id="lastDiv">
				<ion-icon class="checked" *ngIf="step>2" name="checkmark-circle-outline"></ion-icon>
				<div class="inner-div">
					<span>{{'forgot_pass.reset_password' | translate}}</span>
				</div>
				<ion-item>
					<ion-input type="password" [(ngModel)]="password" placeholder="{{'forgot_pass.eneter_password' | translate}}" ></ion-input>
				</ion-item>
					<span class="error" *ngIf="passwordError !=''">{{passwordError}}</span>
				<ion-item>
					<ion-input type="password" [(ngModel)]="confirm_password" placeholder="{{'forgot_pass.confirn_password' | translate}}" ></ion-input>
				</ion-item>
					<span class="error" *ngIf="confirm_passwordError !=''">{{confirm_passwordError}}</span>
				<ion-button  expand="block" class="btn-primary" shape="round" color="primary" (click)="submitPassword()">{{'forgot_pass.submit' | translate}}</ion-button>
			</div>
		</ion-row>
	</div>



</ion-content>
