.trash{
	
    float: left;
    font-size: 25px;
    padding: 2px;
    color: #eb445a;

}
.pdf-div{
	img{
		       width: 16vw;
				height: 9vh;
	}
	ion-icon{
		font-size: 47px;
	    position: absolute;
	    right: 9vh;
	    top: 8vh;
	    color: #2979ff;
	}
}
.images{
	    height: 193px;
	    width: 100%;
	    border-radius: 8px;
}
.typeSpan{
	font-size: 12px;
    color: #666666;
}